---
import { ClientRouter } from 'astro:transitions'
import { getCollection, getEntry } from 'astro:content'
import '@/index.css'
import '@/scrollbarProyects.css'

export const getStaticPaths = async () => {
	const allProyects = await getCollection('allProyects')

	return allProyects.map(proyect => ({
		params: { id: proyect.slug },
		props: { proyect }
	}))
}

const { proyect } = Astro.props
const { data, slug } = proyect
const { title, img, imgSize, styleBody } = data

const entry = await getEntry('allProyects', slug)
const { Content } = await entry.render()
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>{`${title}`}</title>
		<ClientRouter />
	</head>
	<body
		class={styleBody}>
		<main class='flex flex-col items-center gap-6 w-[90vw] md:w-6/12 mx-auto'>
			<h1
				transition:name={`h1-${title}`}
				class='text-white text-3xl md:text-5xl self-center'>
				{`${title}`}
			</h1>
			<img
				transition:name={`img-${slug}`}
				class=`rounded-3xl aspect-[${imgSize}]`
				src={img}
				alt=''
			/>
			<div class='mx-auto prose prose-invert w-full max-w-none'><Content /></div>
		</main>
	</body>
</html>
