---
import CardProyects from '@components/CardProyects.astro'
import { getCollection } from 'astro:content'
const allProyects = await getCollection('allProyects')
---

<section class='w-[90vw] md:w-[50vw] my-2 md:my-4 mx-auto text-white'>
	<h1 class='mb-2 md:mb-4 text-3xl md:text-4xl'>Proyectos</h1>
	<p class='text-sm md:text-lg mb-4'>
		Te invito a <span class='text-yellow-300'>explorar</span> mis proyectos más
		<span class='text-yellow-300'>creativos</span> y <span class='text-yellow-300'
			>desafiantes</span
		>. Cada uno representa mi <span class='text-yellow-300'>compromiso</span> con el
		<span class='text-cyan-400'>desarrollo web</span> y mi <span
			class='text-yellow-300'>pasión</span
		> por
		<span class='text-yellow-300'>transformar ideas</span> en
		<span class='text-cyan-400'>soluciones digitales efectivas</span>. Estoy
		<span class='text-yellow-300'>emocionado</span> de compartir contigo el
		<span class='text-cyan-400'>resultado</span> de mi <span class='text-cyan-400'
			>trabajo</span
		>. ¡
		<span class='text-yellow-300'>Inspírate</span> y <span class='text-yellow-300'
			>sumérgete</span
		> en mis proyectos de
		<span class='text-cyan-400'>software</span>!
	</p>
	<main class='grid grid-cols-1 md:grid-cols-2 grid-rows-[auto] gap-1'>
		{
			allProyects.map(async proyect => {
				const { data, slug } = proyect
				const { title, img, tags, description } = data

				return (
					<CardProyects
						title={title}
						img={img}
						tags={tags}
						slug={slug}
						description={description}
					/>
				)
			})
		}
	</main>
</section>
)
