---
import CardProyects from '@components/CardProyects.astro'
import { getCollection, getEntry } from 'astro:content'
const allProyects = await getCollection('allProyects')
---

<section class='w-[90vw] md:w-[50vw] my-2 md:my-4 mx-auto text-white'>
	<h1 class='mb-2 md:mb-4 text-3xl md:text-4xl'>Proyectos</h1>
	<p class='prose prose-invert text-sm md:text-lg mb-4'>
		Te invito a explorar mis proyectos más creativos y desafiantes. Cada uno
		representa mi compromiso con el desarrollo web y mi pasión por transformar
		ideas en soluciones digitales efectivas. Estoy emocionado de compartir contigo
		el resultado de mi trabajo. ¡Inspírate y sumérgete en mis proyectos de
		software!
	</p>
	<main class='grid grid-cols-1 md:grid-cols-2 grid-rows-[auto]'>
		{
			allProyects.map(async proyect => {
				const { data, slug } = proyect
				const { title, img, tags } = data
				const entry = await getEntry('allProyects', slug)
				const { Content } = await entry.render()
				const body = <Content />

				return (
					<CardProyects
						title={title}
						img={img}
						body={body}
						tags={tags}
						slug={slug}
					/>
				)
			})
		}
	</main>
</section>
)
